---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$light: #fff;
$dark: #222;
$grey: #777;

body {
	font-family: 'Roboto', sans-serif;
    background-color: $dark;
}

.bg-dark {
    background-color: $dark;
}

.bg-light {
    background-color: $light;
}

.site-container {
    padding-top: 50px;
    padding-bottom: 25px;
}

header, footer {
    display: block;
}

.meta {
    color: $grey;
    font-size: 85%;
}

footer {
    background-color: $dark;
    border-color: #080808;
    min-height: 150px;
    padding: 15px;
    color: $grey;
    margin: 15px 0;
    
    .row {
        padding: 10px 20px;
    }
    
    a {
        color: $grey;
    }
    
    a:focus, a:hover {
        color: #fff;
        background-color: transparent;
        text-decoration: none;
    }
}

blockquote {
    font-style: italic;
}

.social > a {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 5px;
}

.paralax-picture {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: $dark;
	text-align: center;
	color: $light;
	min-height: 350px;
	padding: 50px;
}

.paralax-page-header {
	@extend .paralax-picture;
	padding: 150px 50px 75px 50px;
}

/* XS - eXtra Small */
@media (max-width: 767px) {
    .bg-attachment-fixed {}
	.background-header3 { background-image: url(//static-ddittmar.appspot.com/images/header3-xs.jpg); }
    .background-header2 { background-image: url(//static-ddittmar.appspot.com/images/header2-xs.jpg); }
    .background-header-blog { background-image: url(//static-ddittmar.appspot.com/images/blog_header-xs.jpg); }
    .background-header-gallery { background-image: url(//static-ddittmar.appspot.com/images/gallery_header-xs.jpg); }
}

/* SM - SMall*/
@media (min-width: 768px) and (max-width: 991px) {
	.bg-attachment-fixed {}
    .background-header3 { background-image: url(//static-ddittmar.appspot.com/images/header3-sm.jpg); }
    .background-header2 { background-image: url(//static-ddittmar.appspot.com/images/header2-sm.jpg); }
    .background-header-blog { background-image: url(//static-ddittmar.appspot.com/images/blog_header-sm.jpg); }
    .background-header-gallery { background-image: url(//static-ddittmar.appspot.com/images/gallery_header-sm.jpg); }
}

/* MD - MeDium */
@media (min-width: 992px) and (max-width: 1199px) {
	.bg-attachment-fixed { background-attachment: fixed; }
    .background-header3 { background-image: url(//static-ddittmar.appspot.com/images/header3-md.jpg); }
    .background-header2 { background-image: url(//static-ddittmar.appspot.com/images/header2-md.jpg); }
    .background-header-blog { background-image: url(//static-ddittmar.appspot.com/images/blog_header-md.jpg); }
    .background-header-gallery { background-image: url(//static-ddittmar.appspot.com/images/gallery_header-md.jpg); }
}

/* LG - LarGe */
@media (min-width: 1200px) {
	.bg-attachment-fixed { background-attachment: fixed; }
    .background-header3 { background-image: url(//static-ddittmar.appspot.com/images/header3.jpg); }
    .background-header2 { background-image: url(//static-ddittmar.appspot.com/images/header2.jpg); }
    .background-header-blog { background-image: url(//static-ddittmar.appspot.com/images/blog_header.jpg); }
    .background-header-gallery { background-image: url(//static-ddittmar.appspot.com/images/gallery_header.jpg); }
}

@import "syntax-highlighting";
