---
layout: plain
title: Blog
permalink: /blog/
---

<header class="paralax-page-header background-header-blog bg-attachment-fixed">
    <h1>Blog</h1>
    <div>java-enterprise-web-software-developer stuff</div>
</header>

<div class="bg-light">
    <div class="container" style="padding-top: 20px;">
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9873786474421467"
             data-ad-slot="5745650634"
             data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</div>

<div class="bg-light" style="padding-top: 20px;">
    <div class="container">
        {% for post in site.posts %}
        {% assign mod = forloop.index0 | modulo:2 %}
        {% if mod == 0 %}<div class="row">{% endif %}
        {% if forloop.index0 == 3 %}
        <div class="col-sm-6 adblock">
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-9873786474421467"
                 data-ad-slot="6396295431"
                 data-ad-format="auto"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
        {% else %}{% include post-box.html post=post %}{% endif %}
        {% if mod != 0 %}</div>{% endif %}
        {% endfor %}
    </div>
</div>

<div class="bg-light">
    <div class="container" style="padding-bottom: 20px;">
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9873786474421467"
             data-ad-slot="5606049839"
             data-ad-format="auto"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</div>