---
layout: plain
title: Blog
permalink: /blog/
---

<header class="paralax-page-header background-header-blog bg-attachment-fixed">
    <h1>Blog</h1>
    <div>java-enterprise-web-software-developer stuff</div>
</header>

<div class="bg-light" style="padding-top: 25px;">
    <div class="container">
        {% for post in site.posts %}
        {% assign mod = forloop.index0 | modulo:2 %}
        {% if mod == 0 %}<div class="row">{% endif %}
        {% include post-box.html post=post %}
        {% if mod != 0 %}</div>{% endif %}
        {% endfor %}
    </div>
</div>