---
layout: plain
onDocumentReady: loadLandingPageGallery();
---

<header class="paralax-page-header background-header3 bg-attachment-fixed" itemscope itemtype="http://data-vocabulary.org/Person">
    <div><img itemprop="photo" src="//static-ddittmar.appspot.com/images/personal.jpg" width="150" height="153" alt="Dirk Dittmar" class="img-thumbnail"/></div>
    <h1 itemprop="name">Dirk Dittmar</h1>
    <div><span itemprop="role">Java-Enterprise-Web-Software-Developer</span> und Amateur-Fotograph</div>
    <div>aus <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Hamburg</span></span></div>
</header>

<div class="bg-light">
    <div class="container">
      <div class="page-header">
          <h2>Blog&nbsp;<small>neuste Posts</small></h2>
          <div class="meta"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a href="/blog/">zum Blog</a></div>
      </div>

      <div class="row">
        {% for post in site.posts limit:2 %}
            {% include post-box.html post=post %}
        {% endfor %}
      </div>
      <div class="row hidden-xs">
        {% for post in site.posts limit:2 offset:2 %}
            {% include post-box.html post=post %}
        {% endfor %}
      </div>
    </div>
</div>
    
<div class="paralax-picture background-header2 bg-attachment-fixed"></div>

<div class="bg-light">
    <div class="container">
      <div class="page-header">
          <h2>Gallery&nbsp;<small>neuste Bilder</small></h2>
          <div class="meta"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;<a href="/gallery/">zur Galerie</a></div>
      </div>
      <div id="gallery">
      </div>
    </div>
</div>
      
{% include gallery.html %}