---
layout: plain
onDocumentReady: loadLandingPageGallery();
---

<header class="paralax-page-header background-header3 bg-attachment-fixed">
  <div><img src="//static-ddittmar.appspot.com/images/personal.jpg" width="150" height="153" alt="Dirk Dittmar" class="img-circle"/></div>
  <h1>Dirk Dittmar</h1>
  <div>java-enterprise-web-software-developer and amateur photograph</div>
</header>

<div class="bg-light">
    <div class="container">
      <div class="page-header">
          <h1>Blog <small>latest posts</small></h1>
      </div>

      <div class="row">
        {% for post in site.posts limit:2 %}
            {% include post-box.html post=post %}
        {% endfor %}
      </div>
      <div class="row hidden-xs">
        {% for post in site.posts limit:2 offset:2 %}
            {% include post-box.html post=post %}
        {% endfor %}
      </div>
<!--
      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info alert-dismissible" role="alert">
            subscribe <a class="alert-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
          </div>
        </div>
      </div>
-->
    </div>
</div>
    
<div class="paralax-picture background-header2 bg-attachment-fixed"></div>

<div class="bg-light">
    <div class="container">
      <div class="page-header">
        <h1>Gallery <small>latest uploads</small></h1>
      </div>
      <div id="gallery">
      </div>
    </div>
</div>
      
{% include gallery.html %}