<div class="modal fade" id="cookie_choice" tabindex="-1" role="dialog" aria-labelledby="cookie_choice_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="cookie_choice_label">Cookies und Datenschutz</h4>
      </div>
      <div class="modal-body">Wir verwenden Cookies, um Inhalte und Anzeigen zu
          personalisieren, Funktionen für soziale Medien anbieten zu können und
          die Zugriffe auf unsere Website zu analysieren. Außerdem geben wir
          Informationen zu Ihrer Nutzung unserer Website an unsere Partner für
          soziale Medien, Werbung und Analysen weiter.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="btn-cookie_choice-details">Weitere Informationen</button>
        <button type="button" class="btn btn-primary" id="btn-cookie_choice-ok">OK</button>
      </div>
    </div>
  </div>
</div>
