<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div style="margin: 6px 0;"><span class="glyphicon glyphicon-chevron-right"></span> <a href="/impressum/">Impressum</a></div>
                <div style="margin: 6px 0;"><span class="glyphicon glyphicon-chevron-right"></span> <a href="/datenschutz/">Datenschutz</a></div>
            </div>
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-3">
                <div class="copy pull-right"><span class="glyphicon glyphicon-copyright-mark"></span> Dirk Dittmar</div>
            </div>
        </div>
    </div>
</footer>