<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div style="margin: 6px 0;"><span class="glyphicon glyphicon-chevron-right"></span> <a href="/impressum/">Impressum</a></div>
                <div style="margin: 6px 0;"><span class="glyphicon glyphicon-chevron-right"></span> <a href="/datenschutz/">Datenschutz</a></div>
            </div>
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-3">
                <div class="copy pull-right"><span class="glyphicon glyphicon-copyright-mark"></span> Dirk Dittmar</div>
                <div class="social pull-right">
                    <a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}"><img src="/images/social/feed.png" width="32" height="32" alt="feed" class="img-thumbnail" /></a>
                    <a href="https://www.flickr.com/photos/dditt/"><img src="/images/social/flickr.png" width="32" height="32" alt="flickr" class="img-thumbnail" /></a>
                    <a href="https://plus.google.com/+DirkDittmar"><img src="/images/social/g-plus.png" width="32" height="32" alt="+DirkDittmar" class="img-thumbnail" /></a>
                    <a href="https://twitter.com/dittma_d"><img src="/images/social/twitter.png" width="32" height="32" alt="@dittma_d" class="img-thumbnail" /></a>
                    <a href="https://github.com/ddittmar"><img src="/images/social/github.png" width="32" height="32" alt="github" class="img-thumbnail" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>