<nav class="navbar navbar-default navbar-inverse navbar-fixed-top hidden-xs" role="navigation">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dirk Dittmar</a>
        </div>
        <div id="bs-navbar-collapse" class="navbar-collapse collapse navbar-right" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/gallery/">Gallery</a></li>
                <li><a href="/blog/">Blog</a></li>
                <!--<li><a href="/about/">About</a></li>-->
            </ul>
        </div>
	</div>
</nav>
<nav class="navbar navbar-default navbar-inverse visible-xs-block" role="navigation" style="margin-bottom: -50px;">
	<div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-xs">
            <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Dirk Dittmar</a>
        </div>
        <div id="bs-navbar-collapse-xs" class="navbar-collapse collapse navbar-right" style="height: 1px;">
            <ul class="nav navbar-nav">
                <li><a href="/gallery/">Gallery</a></li>
                <li><a href="/blog/">Blog</a></li>
                <!--<li><a href="/about/">About</a></li>-->
            </ul>
        </div>
	</div>
</nav>