<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//static-ddittmar.appspot.com/js/main_13.min.js"></script>
{% if page.extraJs %}
{% for extraJs in page.extraJs %}
<script src="{{ extraJs }}"></script>
{% endfor %}
{% endif %}
<script src="//static-ddittmar.appspot.com/js/loadCSS.min.js"></script>
<script type="text/javascript">
    loadCSS("//fonts.googleapis.com/css?family=Roboto:500,500italic");
    loadCSS("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
    loadCSS("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
    loadCSS("//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");
    {% if page.extraCss %}
    {% for extraCss in page.extraCss %}
    loadCSS("{{ extraCss }}");
    {% endfor %}
    {% endif %}
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
