---
layout: default
comments: true
---

<div style="padding-top: 20px">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9873786474421467"
         data-ad-slot="4968104639"
         data-ad-format="auto"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>

<header class="page-header">
    <h1>{{ page.title }} <small>{{ page.subtitle }}</small></h1>
    {% if page.categories.size > 0 %}<div class="meta">
        <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;{{ page.categories | join: ' > ' }}
    </div>{% endif %}
    <div class="meta">
        <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;&nbsp;{{ page.date | date: "%F" }}
    </div>
    {% if page.tags.size > 0 %}<div class="meta">
        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;{{ page.tags | join: ', ' }}
    </div>{% endif %}
</header>

{% if page.og_img %}{% if page.show_head_img %}
<img src="{{ page.og_img }}" class="img-responsive"{% if page.og_img-alt %} alt="{{page.og_img-alt}}"{% endif %}{% if page.og_img-width %} width="{{page.og_img-width}}"{% endif %}{% if page.og_img-height %} height="{{page.og_img-height}}"{% endif %} /><br/>
{% endif %}{% endif %}

<article>
    <ins class="adsbygoogle postad1"
         data-ad-client="ca-pub-9873786474421467"
         data-ad-slot="6038198635"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
{{ content }}
</article>

<div class="well clearfix share">
    <div class="pull-left">
        <a class="btn btn-block btn-social btn-twitter"
           href="https://twitter.com/share"
           data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
           data-via="dittma_d"
           data-hashtags="{{ page.tags | join: ',' | cgi_escape }}"
           data-text="{{ page.title | cgi_escape }}">
            <i class="fa fa-twitter"></i> teilen
        </a>
    </div>
    <div class="pull-left">
        <a class="btn btn-block btn-social btn-google-plus"
           href="https://plus.google.com/share" onclick="App.clickBtnGooglePlus(this);return false;"
           data-url="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
            <i class="fa fa-google-plus"></i> teilen
        </a>
    </div>
    <div class="pull-left">
        <a class="btn btn-block btn-social btn-facebook"
           href="https://www.facebook.com/dialog/share"
           data-app_id="766010240133574"
           data-display="page"
           data-href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
           data-redirect_uri="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
            <i class="fa fa-facebook"></i> teilen
        </a>
    </div>
</div>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9873786474421467"
     data-ad-slot="5898597834"
     data-ad-format="auto"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>

{% if page.comments %}
<div style="margin: 60px 0 10px 0;">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'ddittmar-github';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
